<h1>Status:<span id="state"></span></h1>

<div class="colors">
  <% @colors.each do |color| %>
    <div data-id="<%=color.id%>" class="color <%=color.active%>" style="background: rgba(<%=color.r%>,<%=color.g%>,<%=color.b%>,<%=color.opacity/100.0%>)"></div>
  <% end %>
</div>

<div id="mix">Mix it up</div>
<hr>

<input id="message" value="<%= @message.message %>">

<h1 id="msg"></h1>

<p>Changes on this page do not occur until the database is updated.
<br>Try closing the window and reopening... or multiple windows at once.</p>